@{    
    ViewBag.Title = "About US";
}

<p>
    JoinIn CRM,Join In US,Join In Success!
</p>
东莞市索夫特计算机科技有限公司由来自IT行业的精英联盟创立,
以『专业、效率、素质、服务』为公司品质目标，
以解决企业的实际问题为最高准则，
放弃现今市场上浮夸的功能，走务实的路线，专注于工厂管理的信息技术服务，不断技术创新、努力进取，依靠广大客户和合作伙伴的大力支持，通过全体员工不懈的努力，索夫特得以在竞争激烈的IT行业中稳步发展。

 