@{
    ViewBag.Title = "联系我们";
}
 
<address>
    地址:广东省东莞市东城大道75号金城大厦718<br />
    邮编:523000<br />
    电话:0769-89870675<br />
    传真:0769-23369822<br />
</address>

<address>
    <strong>E_mail:</strong><a href="mailto:cngdsoft@163.com">cngdsoft@163.com</a><br />

</address>




 


 