
@{
    ViewBag.Title = "用户绑定信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">你已经成功绑定</h2>
        <p class="weui-msg__desc">公司：@ViewBag.CompanyName @ViewBag.StoreName</p>
        <p class="weui-msg__desc">姓名：@ViewBag.EmpName</p>
        <p class="weui-msg__desc">工号：@ViewBag.EmpNO</p>
        <p class="weui-msg__desc">职位：@ViewBag.RoleName</p>
        <p class="weui-msg__desc">手机：@ViewBag.CellPhone</p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="javascript:;" class="weui-btn weui-btn_primary">解除绑定</a>
            <a onclick="javascript: { history.back(1)}" class="weui-btn weui-btn_default">返回操作</a>
        </p>

        <div class="weui-footer">
            <p class="weui-footer__links">
                <a href="javascript:void(0);" class="weui-footer__link">Join In CRM</a>
            </p>
            <p class="weui-footer__text">Copyright © 2008-2016 索夫特软件 </p>
        </div>
    </div>

</div>
